<%if current_user.role == "admin"%>
    <h1>Grader Information</h1>

    <h3>First Name</h3>
    <p><%= @grader.fname %></p>

    <h3>Last Name</h3>
    <p><%= @grader.lname %></p>

    <h3>Email</h3>
    <p><%= @grader.email %></p>

    <h3>Availability</h3>
    <% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"] %>
        <em><%=day%></em>
        <table>
            <thead>
                <tr><th>Start Time</th>  <th>End Time</th>
            </thead>
            <tbody>
                <%@availabilities.select{|entry| entry.day_of_week==day}.each do |a|%>
                <tr>
                    <td><%=a.start_time%></td>
                    <td><%=a.end_time%></td>
                </tr>
            </tbody>
        </table>
        <%end%>
    <%end%>

    <h3>Course Qualifications</h3>
    <% @course_qualifications.each do |cq| %>
        <p><%=cq.course.number%>--<%=cq.course.name%></p>
    <%end%>

    <h3>Course Preferences</h3>
    <%@course_preferences.each do |cp|%>
        <p><%=cp.course.number%>--<%=cp.course.name%></p>
    <%end%>

    <h3>Actions</h3>
    <td><%= button_to 'Approve', "/grader_applications/#{@grader.id}", method: :patch %></td>
<%end%>
