<% if current_user.role == "student" %>
    <h1>New CSE Student Grader Application</h1>

    <h4>Contact Information</h4>
    <p>
        <br>Student Name: <%= current_user.fname %> <%= current_user.lname %> 
        <br>Email: <%= current_user.email %><br><br>

        First, select the term and campus you are applying for:
    </p>

    <%= form_with model: @application, url: new_grader_application_path, method: :post, local: true do |f| %>
        <%= f.select :term, ["Spring 2023", "Summer 2023", "Autumn 2023"]%>
        <%= f.select :campus, ["Columbus", "Newark", "Mansfield", "Wooster", "Marion", "Lima"]%>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <br><br><h4>Availability</h4>
        <p>Instructions: for each day of the week, fill in all the start and end times in which you are free. Click "Add row" to add as many time blocks as you need.</p>
        <br>
        <%= fields_for :availabilities, @application.availabilities do |a| %>
            <% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"] %>
                <em><%=day%></em>
                <div id="rows<%=day%>">
                    <button type = 'button' id="addrowdays" onclick="addRowToDay('<%=day%>')">Add Row</button>
                    <div id="row<%= day %>">
                        <% currDay = day %>
                        <%= f.hidden_field "availabilities[][day_of_week]", value: currDay %>
                        <%= f.hidden_field "availabilities[][application_id]", value: @application.id %>
                        <%=f.label "Start time"%><%=f.text_field "availabilities[][start_time]"%>
                        <%=f.label "End Time"%><%=f.text_field "availabilities[][end_time]"%>
                    </div>
                </div>
            <% end %>
        <% end %>

        <%= fields_for :course_qualifications, @course_qualification do |q|%>
            <br><h3>Course Qualifications</h3>
            <p>Instructions: Please type in the COURSE NUMBER of all CSE courses you have taken at OSU. Click "Add Row" to add as many entries as you need.</p>
            <div id="rowsQual">
                <button type = 'button' id="addrowquals" onclick="addRowToQual()">Add Row</button>
                <div id="rowQual">
                    <%= f.hidden_field "course_qualifications[][application_id]", value: @application.id %>
                    <%=f.label "Course Number"%><%=f.text_field "course_qualifications[][course_num]"%>
                </div>
            </div>
        <% end %>

        <%= fields_for :course_preferences, @course_preference do |q|%>
            <br><h3>Course Preferences</h3>
            <p>Instructions: Please type in the COURSE NUMBER of any CSE courses you would prefer to grade. This must
            be a subset of your Course Qualifications. Click "Add Row" to add as many entries as you need.</p>
            <div id="rowsPref">
                <button type = 'button' id="addrowprefs" onclick="addRowToPref()">Add Row</button>
                <div id="rowPref">
                    <%= f.hidden_field "course_preferences[][application_id]", value: @application.id %>
                    <%=f.label "Course Number"%><%=f.text_field "course_preferences[][course_num]"%>
                </div>
            </div>
        <% end %>
        <%= f.submit "Submit" %>
    <% end %>
    <%= link_to "Back to Dashboard", "dashboard" %>
<% end %>

<script>
function addRowToDay(day) {
    let row=document.getElementById("row"+day);
    let newRow = row.cloneNode(true);
    document.getElementById("rows"+day).appendChild(newRow);
}
function addRowToQual() {
    let row=document.getElementById("rowQual");
    let newRow = row.cloneNode(true);
    document.getElementById("rowsQual").appendChild(newRow);
}
function addRowToPref() {
    let row=document.getElementById("rowPref");
    let newRow = row.cloneNode(true);
    document.getElementById("rowsPref").appendChild(newRow);
}
</script>