<%if current_user.role == "student"%>
<h1>Availability</h1>

<h3>Contact Information</h3>
<p>
<br>Student Name: <%= current_user.fname %> <%= current_user.lname %> 
<br>Email: <%= current_user.email%><br><br>

Next, add the days of the week and times for which you are available: </p>

<%= bootstrap_form_tag url: "availabilities", method: :post do |f| %>
<% for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"] %>
<h3><%=day%></h3>
<div id="rows"+<%=day%>>
<div id="row"+<%=day%>>
<%=f.label "Start time"%><%=f.text_field_tag "availabilities[][start_time][]"%>
  <%=f.label "End Time"><%=f.text_field_tag "availabilities[][end_time][]"%>
  <button id="addrow" onclick="addRow()">Add Row</button>
</div>
</div>
<%end%>

  <%= f.submit "Next: Course Qualifications" %>


<% end %>

<%= link_to "Back to Dashboard", "dashboard" %>

<%end %>

<script>
function addRow() {
    let row=document.getElementById("row");
    let newRow = row.cloneNode(true);
    document.getElementById("rows").appendChild(newRow);
}
</script>