<% if current_user.role == "admin" %>
    <h1>CSE Student Grader Assignment Dashboard</h1>
    <p>Welcome to the Grader Assignment Dashboard!<br>On this page, you can view sections that have not yet had a grader assigned to them,
    view approved grader applications that have not yet been assigned to a section, and match qualified graders to sections.<br>
    Instructions:<br></p>
    <ul>
    <li>Select the term you would like to view applications and sections for (on first load, defaults to Spring 2023)</li>
    <li>On the left, all sections for the specified term that still need graders assigned will be listed.</li>
    <li>On the right, all approved grader applications for the specified term will be listed, along with the course sections they qualify for based on 
    their course qualifications and availabilities. Click "Show" to view more information about this grader application, including their full availability and list
    of course preferences/qualifications.</li>
    <li>When you would like to assign a grader to a section, simply choose that grader's email from the drop-down menu next to that section and click "Assign" to update the system (The drop-down will only appear if there are unassigned applications available).</li>

    <br><h5>Choose Term:</h5>
    <%= bootstrap_form_tag url: grader_assignments_path, method: :get do |f| %>
        <%= f.select :term, ["Spring 2023", "Summer 2023", "Autumn 2023"]%>  <%= f.submit "Apply Term" %>
    <% end %>

    <br><table id = "dashboardTable" class = "table">
    <tr>
    <td>
    <h4>Sections In Need Of Graders</h4>
    <table id = "sectionsTable">
        <thead>
            <tr id = "headerRow" class = "text-center">
                <th>Course Number</th><th>Campus</th> <th>Section Number</th><th>Start Time</th><th>End Time</th><th>Days of Week</th> <th>Num. Graders Required</th> <th>Graders Assigned</th>
            </tr>
        </thead>
        <tbody>
        <% @grader_sections.each do |grader_section| %>
        <% app_emails = Array.new 
                         @applications.each do |a|
                        app_emails << a.user.email
                        end %>
                <tr>
                    <td><%= grader_section.course.number %></td>
                    <td><%= grader_section.course.campus %></td>
                    <td><%= grader_section.section_number %></td>
                    <td><%= grader_section.start_time %></td>
                    <td><%= grader_section.end_time %></td>
                    <!-- Create a string depicting the section's days of the week -->
                    <% days = ""%>
                    <% if grader_section.monday %>
                        <% days += "M"%>
                    <% end%>
                    <% if grader_section.tuesday %>
                        <% days += " Tu"%>
                    <% end%>
                    <% if grader_section.wednesday %>
                        <% days += " W"%>
                    <% end%>
                    <% if grader_section.thursday %>
                        <% days += " Th"%>
                    <% end%>
                    <% if grader_section.friday %>
                        <% days += " F"%>
                    <% end%>
                    <% if grader_section.saturday %>
                        <% days += " Sat"%>
                    <% end%>
                    <% if grader_section.sunday %>
                        <% days += " Sun"%>
                    <% end%>

                    <td><%= days %></td>
                    <td><%= grader_section.num_graders_required %></td>
                    <td>
                        <% if app_emails.length == 0 %>
                            <%= "No Assigned Graders" %>
                        <% else %>
                            <% app_emails.each do |an| %>
                                <%= an %>
                            <% end %>
                        <% end %>
                        <% if app_emails.length > 0%>
                        <%= bootstrap_form_tag url: grader_assignments_path, method: :post do |f| %>
                          <%= f.select :email, app_emails, label: "Assign Grader: " %>  
                          <%= f.hidden_field :section_id, value: grader_section.id%>
                          <%= f.submit "Assign" %>
                         <% end %>
                         <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
        </table>
        </td>
        <td>
        <h4>Approved Applications</h4>
       <table id = "applicationsTable">
       <thead>
            <tr id = "headerRow" class = "text-center">
                <th>Student Name</th><th>Email</th> <th>Term</th> <th>Campus</th><th>Qualified Course Sections</th><th>Actions</th>
            </tr>
        </thead>
        <tbody> 
            <% @applications.each do |application| %>
                <tr> 
                    <td><%= application.user.fname %> <%= application.user.lname %></td>
                    <td><%= application.user.email %></td>
                    <td><%= application.term %></td>
                    <td><%= application.campus %></td>
                    <td>
                        <!--Need to fix Qualified Courses-->
                    </td>
                    <td><%= link_to 'Show', grader_application_path(application) %></td>
                </tr>
                <%end%>
    </table>
    </td>
    </tr>
    </table>
<% end %>

<%== pagy_bootstrap_nav(@pagy) %>
