<!DOCTYPE html>
<html>
  <head>
    <title>OSU CSE Courses</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <h1 class="mt-4 text-center">OSU CSE Course Catalog</h1>
   <%= render "layouts/navbar" %>

   <% if flash.any? %>
     <div id="banner">
     <%flash.each do |key, message|%>
       <div class = "flash <%= key %>" >
         <%=message%>
       </div>
     <%end%>
     </div>
   <%end%>
<!-- BUTTONS FOR ADMINS -->
   <% if current_user.role == "admin"%>
     <table id = "menuBar">
        <tr>
    
            <td>
                <%= button_to "Browse Catalog", courses_path, method: :get, class: "btn btn-small btn-primary mx-2" %>
            </td>
            <% if current_user.pending_approval? %>
            
        <p>You are currently pending admin approval. Until you are approved, you are only able to browse the course catalog.</p>

                <td>
                    <%= button_to "Status Requests", "/requests", method: :get, class: "btn btn-small btn-primary mx-2", :disabled => true%>
                </td>
                <td>
                  <%= button_to "Grader Applications", "/grader_applications", method: :get, class: "btn btn-small btn-primary mx-2", :disabled => true %>
                </td>
                <td>
                    <%= button_to "Reload Database", "/reload/new", method: :get, class: "btn btn-small btn-primary mx-2", :disabled => true %>
                </td>
            <% else %>
                <td>
                    <%= button_to "Status Requests", "/requests", method: :get, class: "btn btn-small btn-primary mx-2" %>
                </td>
                <td>
                  <%= button_to "Grader Applications", "/grader_applications", method: :get, class: "btn btn-small btn-primary mx-2" %>
                </td>
                <td>
                    <%= button_to "Reload Database", "/reload/new", method: :get, class: "btn btn-small btn-primary mx-2" %>
                </td>
            <% end %>
    
        </tr>
    </table>
    <hr>
<!-- BUTTONS FOR INSTRUCTORS -->
    <%elsif current_user.role == "instructor" %>
     <% if current_user.pending_approval? %>
      <p>You are currently pending approval. Until you are approved by an admin, you are only able to browse the course catalog.</p>
    <% end %>
    <table id = "menuBar">
      <tr>
        <td>
          <%= button_to "Browse Catalog", courses_path, method: :get, class: "btn btn-small btn-primary mx-2" %>
        </td>
        
      </tr>
    </table>
    <hr>
<!-- BUTTONS FOR STUDENTS -->
    <%else%>
      <table id = "menuBar">
        <tr>
          <td>
            <%= button_to "Browse Catalog", courses_path, method: :get, class: "btn btn-small btn-primary mx-2" %>
          </td>
          <td>
            <%= button_to "Grader Application Dashboard", "dashboard", method: :get, class: "btn btn-small btn-primary mx-2" %>
          </td>
          
        </tr>
      </table>
    <hr>
    <%end%>
    <%= yield %>
  </body>
</html>
