<%if current_user.role == "admin"%>
    <h1>Grader Assignments</h1>
    <table class="table">
        <tr>
            <th>First Name</th> <th>Last Name</th> <th>Email</th> <th>Sections of Interest</th> <th>Sections without Graders</th> <th colspan="3">Actions</th></th>
        </tr>
        <% @graders.each do |grader| %>
        <tr>
            <td><%= grader.fname %></td>
            <td><%= grader.lname %></td>
            <td><%= grader.email %></td>
            <td><%= grader.email %></td>
            <td><%= grader.email %></td>
            <td><%= button_to 'Approve', "/assignments/#{grader.id}", method: :patch %></td>
        </tr>
    <% end %>
<%end%>
