<div class="ml-5 mr-5">

<h1>Submit a Recommendation</h1>

<%= bootstrap_form_tag model: @sections_user, local: true do |f| %>

  <%= f.email_field :student_email %>

  <%= f.collection_select :course_id, Course.all, :id, :name, include_blank: true %>

  <%= f.collection_select :section_id, Section.all, :id, :section_number, include_blank: true %>

  <%= f.check_box :is_recommended %>

  <%= f.submit "Submit Recommendation" %>
<% end %>
</div>

<%# <%= link_to 'Back', sections_users_path %>
