<div class="ml-5 mr-5">

<h1>Submit a Recommendation</h1>

<%= bootstrap_form_tag model: @sections_user, local: true do |f| %>

  <div class="field">
    <%= f.text_field :instructor_email, value: current_user.email, disabled: true %>
    <%= f.hidden_field :instructor_email, value: current_user.email %>
  </div>

  <div class="field">
    <%= f.text_field :student_email %>
  </div>

  <div class="field">
    <%= f.text_area :recommendation %>
  </div>

  <div class="field">
      <%= f.check_box :is_recommended %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>