<% if current_user.role  == "student"%>
<h2>CSE Student Grader Application Dashboard</h2>
<body>
    <% if @application?%>
    <p>You currently have an application on record to be a student grader.<br>
    Once your application has been approved and you are assigned to a section, your assigned sections will be listed on this dashboard.
    <br>You may view, edit, or delete your application here.
    <br>At the beginning of every term, you must update your application with your new availabilities for the upcoming term, so that you can
    be reassigned to a new section.</p>
    <table id="applicationTable" class="table"> 
        <thread>
            <tr id="headerRow" class="text-center"> 
                <th>Student Name</th> <th>Term</th> <th>Campus</th> <th>Actions</th> 
            </tr>
        </thread>
    
            <tbody> 
                    <tr> 
                        <td><%= @application.user.fname %> <%= @application.user.lname %></td>
                        <td><%= @application.term%></td>
                        <td><%= @application.campus %></td>
                        <td><%= link_to 'View', application_path(@application) %></td>
                        <td><%=link_to 'Edit', edit_application_path(@application)%>
                        <td><%= button_to 'Delete', application_path(@application), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this course?"} %></td>
                        </td>
                    </tr>

            </tbody>
        </table>
    <% else%>
    <p>You currently have no active applications on record for a CSE student grader position.
    <br>Start a new application:</p>
    <br><%= link_to "New Application", new_application_path %>
    <%end%>
</body>
<%end%>