<h1>Edit Course</h1>

<%= bootstrap_form_with model: @course, url: course_path(@course), method: :patch, local: true do |f| %>

  <%= f.text_area :name %>
  <%= f.text_field :number %>
  <%= f.text_field :term %>
  <%= f.text_field :campus %>
  <%= f.submit %>

<% end %>