<head>
    <script type="text/javascript"> // This script give the ability to and search in the courses table
        // Keep the script running when the user come back to the page.
        if (sessionStorage.getItem('hasRunBefore') === null) {
            // The querySelector function connects JavaScript variable with HTML tags.
            const coursesTable = document.querySelector('#coursesTable');
            const rows = coursesTable.querySelectorAll('tr:not(#headerRow)');
            const searchBox = document.querySelector('#searchBox');

            // EventListner for Serach box to detect any user input to the search box.
            searchBox.addEventListener('input', function() {
                const searchedVal = this.value.toLowerCase(); // Extract value from search box.

                // Check for each row whether the input value matchs inputted value to the box.
                rows.forEach(function(row) {
                    var exist = false; // Exist variable to store whether typed input match with the row info.
                    const cells = row.querySelectorAll('td'); // connects JavaScript variable cells with cells in one row.

                    // Assign true to match variable if the inputted value exists in cell.
                    cells.forEach(function(cell) {
                        var content = cell.textContent.toLowerCase();
                        if (content.includes(searchedVal)) {
                            exist = true;
                        }
                    });

                    // Match value determines what is displayed in case there is no match.
                    if (!exist) {
                        row.style.display = 'none';
                    } else {
                        row.style.display = '';
                    }
                });
            });
        }
    </script>
</head>

<body>
    <input type="text" id="searchBox" placeholder="Search...">
    <table id="coursesTable"> 
        <thread>
            <tr id="headerRow"> 
                <th>Number</th> <th>Name</th> <th>Term</th> <th>Campus</th> <th>Actions</th> 
            </tr>
        </thread>
    
            <tbody> 
                <% @courses.each do |course| %>
                    <tr> 
                        <td><%= course.number %></td>
                        <td><%= course.name %></td>
                        <td><%= course.term %></td>
                        <td><%= course.campus %></td>
                        <td><%= link_to 'Show', course %></td>
                        <td><%=link_to 'Sections', course_sections_path(course)%>
                        <% if current_user.role == "admin" && not(current_user.pending_approval?) %>
                            <td><%= link_to 'Edit', edit_course_path(course) %></td>
                            <td><%= button_to 'Delete', course_path(course), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this course?"} %></td>
                        <%end%>
                       
                    </tr>
                <% end %>
            </tbody>
        </table>
        <% if current_user.role == "admin" && not(current_user.pending_approval?) %>
        <br /> <%= link_to 'New Course', new_course_path %>
    <%end%>
</body>

<%== pagy_bootstrap_nav(@pagy) %>
