<!DOCTYPE html>
<html>
    <head>
        <title>Courses List</title>
        <meta name="instructorCoursesListView" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <style> # Added just for testing purpose, you can remove it
            table, th, td {
            border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <h1>Courses List</h1>
        <table>
            <tr>
                <th>Course Number</th> <th>Course Name</th> <th>Description</th> <th>Actions</th></th>
            </tr>
            <% @courses.each do |course| %>
                <tr>
                    <td><%= course.number %></td>
                    <td><%= course.name %></td>
                    <td><%= course.description %></td>
                    <td><%= link_to 'Show', course %></td>
                </tr>
            <% end %>
        </table>
    </body>
</html>