
    <body>
        <!-- Detemines which course to show it attributes from the previous page -->
        
        <!-- Show course attributes -->
                <h1><%= @course.number %> - <%= @course.name %></h1>
                <hr>
                <h3>Term:  <%= @course.term %></h3>
                <h3>Campus:  <%= @course.campus %></h3>
                <%= link_to "Course Sections", course_sections_path(@course)%>


                <br><%= link_to "Back To Courses", courses_path %>
            
     
    </body>
